#root {
    height: 100vh;
    width: 100vw;
}

.fc {
    width: 100%;
}

.unread-notif {
    background-color: var(--bs-primary);
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.text-bg-primary .text-muted {
    color: #fff !important;
}

.bg-clinic360 {
    background-color: #00b4d8;
}

.w-33 {
    width: 33.333%;
}

.w-67 {
    width: 66.667%;
}