{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Clinic360 - Create an Account</title>
	<link rel="icon" type="image/png" href="{% static 'logo.png' %}">
	<link rel="stylesheet" href="{% static 'accounts.css' %}">
</head>
<body>
	<!-- main container that fills up the screen -->
	<div id="main-container"> 
		<!-- central container to nicely display everything in the center of the screen -->
		<form id="central-container" action="/create-account/" method="post">
		    {% csrf_token %}
			<img src="{% static 'logo.svg' %}" alt="Clinic360 Logo" style="height: 10pc; display: block; margin: 0 auto;">
			<div class="spacer"></div>
			
			<!-- form fields -->
			<!--Name fields-->
			{{ form.first_name.label_tag }}
			{{ form.first_name }}
			{{ form.last_name.errors }}
			<div class="spacer"></div>
			
			{{ form.last_name.label_tag }}
			{{ form.last_name }}
			{{ form.last_name.errors }}
			<div class="spacer"></div>

			<!--Address fields-->
			{{ form.address.label_tag }}
			{{ form.address }}
			{{ form.address.errors }}
			<div class="spacer"></div>
			
			<div class="input-row">
				<div class= "input-container">
					{{ form.city.label_tag }}
			        {{ form.city }}
			        {{ form.city.errors }}
				</div>
				<div class= "input-container">
					{{ form.state.label_tag }}
			        {{ form.state }}
			        {{ form.state.errors }}
				</div>
				<div class= "input-container">
					{{ form.zip_code.label_tag }}
			        {{ form.zip_code }}
			        {{ form.zip_code.errors }}
				</div>
			</div>
			<div class="spacer"></div>

			<!--DoB, Gender, and Phone number fields-->
			<div class="input-row">
				<div class= "input-container">
					{{ form.birth_date.label_tag }}
			        {{ form.birth_date }}
			        {{ form.birth_date.errors }}
				</div>
				<div class= "input-container">
					{{ form.gender.label_tag }}
			        {{ form.gender }}
			        {{ form.gender.errors }}
				</div>
				<div class= "input-container">
					{{ form.phone_number.label_tag }}
			        {{ form.phone_number }}
			        {{ form.phone_number.errors }}
				</div>
			</div>
			<div class="spacer"></div>
			
			<!-- email, password, and retype password -->
			{{ form.email.label_tag }}
			{{ form.email }}
			{{ form.email.errors }}
			<div class="spacer"></div>
			
			{{ form.password.label_tag }}
			{{ form.password }}
			{{ form.password.errors }}
			<div class="spacer"></div>
			
			{{ form.password2.label_tag }}
			{{ form.password2 }}
			{{ form.password2.errors }}
			<div class="spacer"></div>

			<!-- submit button -->
			<input type="submit" value="Create Account">
		</form>
	</div>
</body>
</html>
