{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Clinic360 - Login</title>
	<link rel="icon" type="image/png" href="{% static 'logo.png' %}">
	<link rel="stylesheet" href="{% static 'login.css' %}">
	<!-- this file contains the login() function -->
	<script src="{% static 'accounts.js' %}"></script>
</head>


<body>
	<!-- main container that fills up the screen -->
	<div id="main-container">
		<!-- central container to nicely display everything in the center of the screen -->
		<form id="central-container" method="post" action="{% url 'login' %}">
		    {% csrf_token %}
			<img src="{% static 'logo.svg' %}" alt="Clinic360 Logo" style="height: 10pc; display: block; margin: 0 auto;">
			<!-- form fields -->
			{{ form.username.label_tag }} <br>
			{{ form.username }}
			{{ form.password.label_tag }} <br>
			{{ form.password }}
			<!-- Error message: email or password was incorrect -->
			{% if form.errors %}
				<span id="invalidEmailPassword">Invalid username or password</span>
			{% endif %}
			<!-- submit button -->
			<input type="submit" value="Login">
			<!-- button to redirect to account creation -->
			<button type="button" onclick="location.href = '/create-account/';">Create an Account</button>
		</form>
	</div>
</body>
</html>
