{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Clinic360 - Calendar</title>
    <link rel="icon" type="image/png" href="{% static 'logo.png' %}">
    <link rel="stylesheet" href="{% static 'calendar.css' %}">

    <meta charset='utf-8' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
	<script src="{% static 'calendar.js' %}"></script>
</head>

<body onload="loadCalendarPage()">
    <div class="header">
        <a href="{% url 'home' %}"><img src="{% static 'logo.svg' %}" alt="Clinic360 Logo" class="logo"></a>

        <a class="anav" href="{% url 'calendar' %}" style="color: #333; display: flex; align-items: center;">
            <img src="{% static 'calendar.svg' %}" alt="Calendar Icon" style="height: 24px; margin-right: 8px;">
            Calendar
        </a>
        <a class="anav" href="{% url 'messages' %}" style="color: #333; display: flex; align-items: center;">
            <img src="{% static 'message.svg' %}" alt="Messages Icon" style="height: 24px; margin-right: 8px;">
            Messages
        </a>
        <div class="user-card panel">
            <img src="{% static 'dummy-pfp.png' %}" alt="User Picture" id="user-picture">
            <span id="username">
                {{ user.first_name }} {{ user.last_name }}
            </span>
        </div>
    </div>

    <div class="container">
        <div class="calendar" id='calendar'></div>

        <!-- Popup that appears when a calendar event is clicked -->
        <div id="popup" class="popup">
            <div class="popup-content">
                <span class="close" id="closePopup">&times;</span>
                <h2><span id="eventTitle"></span></h2>
                <p><span id="eventDescription"></span></p>
            </div>
        </div>

        <button class="appointment-button" onclick="showSchedulingPopup()">Schedule an Appointment</button>

        <div id="schedulingPopup" class="popup">
            <div class="popup-content">
                <span class="close" onclick="closeSchedulingPopup()">&times;</span>
                <h2>Schedule an Appointment</h2>

                <form id="appointmentForm" action="/calendar/" method="post">
					{% csrf_token %}

                    <div class="input-container" style="width: 30%;">
                        {{ form.appointment_title.label_tag }}
                        {{ form.appointment_title }}
                        {{ form.appointment_title.errors }}
                    </div>
                    
                    <div class="spacer"></div>
                    
                    <div class="input-container" style="width: 30%;">
                        {{ form.time.label_tag }}
                        {{ form.time }}
                        {{ form.time.errors }}
                    </div>
                    
                    <div class="spacer"></div>

                    <div class="input-container" style="width: 47.7%;">
                        {{ form.description.label_tag }}
                        {{ form.description }}
                        {{ form.description.errors }}
                    </div>

					<!-- Submit Button -->
                     
					<input type="submit" value="Schedule Appointment" style="width: 20%;">

                </form>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                events: [
                    { title: 'all day event', start: '2024-10-24', description: 'This is an all day event.' },
                    { title: 'event from 3pm to 4pm', start: '2024-10-23T15:00:00', end: '2024-10-23T16:00:00', description: 'This is an event from 3pm to 4pm.'}
                ],
                eventClick: function(info) {
                    document.getElementById('eventTitle').textContent = info.event.title;
                    document.getElementById('eventDescription').textContent = info.event.extendedProps.description;
                    document.getElementById("popup").style.display = 'flex';
                }
            });
            calendar.render();

            // Check for schedule parameter in URL
            const urlParams = new URLSearchParams(window.location.search);
            if (urlParams.get('schedule') === 'true') {
                showSchedulingPopup();
            }
        });

        function showSchedulingPopup() {
            document.getElementById('schedulingPopup').style.display = 'flex';
        }

        function closeSchedulingPopup() {
            document.getElementById('schedulingPopup').style.display = 'none';
        }
    </script>
</body>
</html>
